html {
  height: 100%;
}
body {
  overflow-y:scroll;
  height: 100%;
  }
.header-container{
  background-color: #7413dc;
}

.nav-container{
  background-color: black;
}
.navbar-brand{
  margin-right: 0;
}
.body-container, .body-container-size{
  max-width: 1080px;
  padding: 2rem;
}
.body-container{
  min-height:calc(100% - 317px - 1.5rem - 72px);
}

iframe {
  position: relative; 
  top:0px; 
  left:0px; 
  bottom:0px; 
  right:0px; 
  width:100%; 
  height:100%; 
  border:none; 
  margin:0; 
  padding:0; 
  overflow:hidden;
}
.page-footer{
 padding-left: 1.25rem;
 padding-right: 1.25rem;
}
.container-fluid{
  padding: 0px;
}
/* .navbar-brand img{
  padding-left: 10px;
  float: ;
}
.navbar {
  padding-left: 10px;
} */
@media (min-width:576px){
  html {
    font-size: 1.2rem;
  }
}
@media (min-width:768px){
  html {
    font-size: 1.4rem;
  }
}
@media (min-width:992px){
  html {
    font-size: 1.6rem;
  }
}
@media (max-width:992px){
  .captionbox{
    margin-bottom: 0px !important;
    bottom: 0px !important;
    background-color: rgba(116,19,220,1)
  }
}
body{
  font-family: 'Nunito Sans', sans-serif;
  color: #7413dc;
  opacity: 1;
  transition: 2s opacity;
}

body.fade {
    opacity: 0;
    transition: none;
}
#carouselcard{
  position: absolute;
  bottom:0vw;
  height: 150px;
}
#carouselcard h1{
  font-size:50px;
}
#carouselcard a{
  font-size: 18px;
}

h1{
  font-family: 'Nunito Sans Bold', sans-serif;
  font-weight: bold;
}
.card{
  border-radius: 0;
}

}
.fb-embed{
  max-width: 100%;
}

#bodyrow{
    padding: 0;
    margin: 0;
  }
#bodybox{
  padding: 0;
}
#bodybox .card{}
.buffer {
  min-height: 0;
}
#section img{
  margin-left: 0rem;
}
html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  
}

@include media-breakpoint-up(md) {
  
}

@include media-breakpoint-up(lg) {
  
}
a:hover {
  text-decoration: black;
  color: black;
  }
