{% extends 'base.html'%}
{% block content %}
<div class="card scoutpurple col-md-4 col-sm-12">
    {% include 'components/formerrordiv.html' %}
    <form action="{% url 'joingroup'%}" method="post" class="card-body">
        {% csrf_token %}
        <div id="code">
            {{form.code.label_tag}}
            {{form.code}}
        </div>
        <div id="member" style="display: none;">
            {{form.member.label_tag}}
            {{form.member}}
        </div>
        <button type="submit" value="Submit">Submit</button>
    </form>
</div>

<script>
var code = document.getElementById('id_code')
var member = document.getElementById('member')

/* Checks if field is already prefilled */
if(code.value.charAt(0) == 'M'){
            console.log(code);
            member.style.display = ''
            var displayMember = true
    }    else{
            member.style.display = 'none'
            var displayMember = false
    }

code.oninput = () => {
    /* Checks which code type has been entered when input changes */
    /* This is defined by the first letter of the JoinCode. 'M' means 'member' and will link Member to Group where 'L' means 'Leader' and will link User to Group. */
    if(code.value.charAt(0) == 'M'){
            console.log(code);
            member.style.display = ''
            var displayMember = true
    }    else{
            member.style.display = 'none'
            var displayMember = false
    }
    console.log(displayMember)        
}

</script>
{% endblock %}