{% extends 'base.html' %}
{% block content %}
{{joingroup}}
{{test}}
<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center"> Welcome <p class="text-muted">{{user.username}}</p></h1>
    </div>
</div>
<div class="card col-md-6">
    <div class="card-body">
        <h2 class="card-title text-center"> Members</h2>
        {% for member in members %}
        <div class="card col-lg-6">
            <h5 class="card-title">{{ member.first_name }}  {{member.last_name}}</h5>
            <ul class="card-body list-group">
                <li class="list-group-item">{{member.dob}}</li>
            </ul>
        </div>
        {% empty %}
        <h2>NoTHING</h2>
        {% endfor %}
    </div>
</div>

<h1>OOOPPS.</h1>
{% endblock %}